body { margin:0; padding:0; }

#map { 
  /* position:absolute; 
  top:10px; 
  bottom:0; 
  width:100%;  */
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.mapboxgl-popup-content {
  /* background-color: crimson; */

}

.mapboxgl-popup-content a {
  text-decoration: none;
  color: black;

}


.mapboxgl-popup-content p {
  text-decoration: none;
  color: black;

}

.mapboxgl-popup-content h1 {
  text-decoration: none;
  color: rgb(13, 0, 255);

}

#bild1 {
	 
  width: 20px;
  height: 20px; 		
	
}
